@import "color";
@import "fonts";
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
body{
  box-sizing: border-box;
}
.text-bold{
  font-weight: bold;
}
.navbar-default {
  @media (max-height:600px ) {
    background-color: #fff;;
    border: 0;
    border-bottom: 1px;
  }
  .logo{
    width: 70%;
  }
  .navbar-nav{
    text-align: center;
    li{
      margin-left: 25px;
    }
  }
}
.allcategoria{
  .item-notice{
    background: $color_secundario;
    color: #fff;
    img{
      padding: 0;
    }
  }
  .Mundo,.Tecnología,.Educación,.Opinión{
    .img-0{
      display: none;
    }
  }
}
.footer{
  padding: 10px;
  color: #fff;
  line-height: 3;
  &__container{
    background-color: $color_principal;
  }
}
